.quoteAnalyzerQuote {
    background-color: white;
    width: 100%;
    padding:10px;
    border: 0;
    margin: 3px;
    cursor: pointer;
}

.highest {
    background-color: #eaaeae;
}

.lowest {
    background-color: #aeeaae;
}